src/main/java/com/cast/wss/client/dtplan.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="dtplan" type="dtplanType"/>
  <xs:complexType name="dtplanType">
    <xs:sequence>
      <xs:element type="headType" name="head"/>
      <xs:element type="planType" name="plan"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="planType">
    <xs:sequence>
      <xs:element type="missionType" name="mission" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="headType">
    <xs:sequence>
      <xs:element type="xs:string" name="creationTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="missionType">
    <xs:sequence>
      <xs:element type="xs:string" name="satelliteID"/>
      <xs:element type="xs:string" name="stationID"/>
      <xs:element type="xs:string" name="tplanID"/>
      <xs:element type="xs:string" name="startTime"/>
      <xs:element type="xs:string" name="endTime"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>